@use "../mixins" as *;

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  &.w100 {
    width: 100%;
  }
  @include max-width(sm) {
    &.w100-mobile {
      width: 100%;
    }
  }
  &.btn-1 {
    background-color: #fff;
    border-radius: 9rem;
    font-size: 1.6rem;
    color: var(--colors);
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.4rem;
    &:hover, &:focus {
      background-color: var(--colors);
      color: #fff;
    }
  }
  &.btn-2 {
    border: 1px solid var(--borders);
    background-color: rgba(0,0,0,0);
    border-radius: 9rem;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--colors);
    padding: 1.2rem 2.4rem;
    @include max-width(sm) {
      font-size: 1.4rem;
      padding: 1.05rem 2.4rem;
    }
    &:hover, &:focus, &.active {
      background-color: var(--greenb);
      color: #fff;
    }
  }
  &.btn-3 {
    color: var(--dgreen);
    background-color: var(--lgreen);
    padding: 0.4rem 1.1rem;
    border-radius: 10rem;
    font-size: 1.3rem;
    @include max-width(sm) {
      font-size: 1.2rem;
      padding: 0.15rem 1.1rem;
    }
    &:hover, &:focus, &.active {
      background-color: var(--dgreen);
      color: #fff;
    }
  }
  &.btn-4 {
    background-color: var(--ngreen);
    border-radius: 9rem;
    font-size: 1.6rem;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 1.4rem 2.4rem;
    line-height: 1.4;
    @include max-width(sm) {
      font-size: 1.4rem;
    }
    &:hover, &:focus {
      background-color: var(--colors);
      color: #fff;
    }
  }
  &.btn-5 {
    border-radius: 3rem;
    padding: 0.6rem 1rem;
    border: 1px solid var(--borders);
    font-size: 1.4rem;
    color: var(--body);
    &:hover, &:focus {
      background-color: var(--colors);
      color: #fff;
    }
  }
  &.btn-6 {
    background-color: var(--lgreen);
    border-radius: 9rem;
    font-size: 1.6rem;
    color: --colors;
    align-items: center;
    justify-content: center;
    padding: 1.4rem 2.4rem;
    line-height: 1.4;
    @include max-width(sm) {
      font-size: 1.4rem;
    }
    &:hover, &:focus {
      background-color: var(--colors);
      color: #fff;
    }
  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.link {
  &.link-1 {
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--colors);
    text-decoration: none;
    padding-right: 1.6rem;
    background-image: url(../image/svg/lite-arrow-green.svg);
    background-size: 0.6rem 1.2rem;
    background-repeat: no-repeat;
    background-position: right 0.4rem;
    &:hover, &:focus {
      color: var(--greenb);
      padding-right: 2rem;
    }
  }
}