@use "../mixins" as *;

.icons {
  &:not(.d-none) {
    display: inline-block;
  }
}
.icons {
  position: relative;
  padding: 0;
  &:before {
    position: relative;
    content: "";
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  &.icons-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    &:before {
      display: none;
    }
    &:hover, &:focus {
      background-color: var(--colors);
      color: #fff;
    }
  }
  &.size-14 {
    &:before {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
  &.size-24 {
    &:before {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  &.size-32 {
    &:before {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
  &.size-50 {
    &:before {
      width: 5rem;
      height: 5rem;
    }
  }
  &.style-1 {
    &:before {
      border: 0.2rem solid var(--lgray);
    }
  }
  &.style-2 {
    &:before {
      border: 0.2rem solid var(--lgray);
      background-color: var(--lgray);
    }
  }
  &.style-3 {
    &:before {
      border: 0.2rem solid var(--greenb);
      background-color: var(--greenb);
    }
  }
  &.style-4 {
    &:before {
      border: 0.2rem solid #fff;
      background-color: #fff;
    }
  }
  &.icon-user {
    &:before {
      background-image: url("../image/svg/user.svg");
    }
  }
  &.icon-phone {
    &:before {
      background-image: url("../image/svg/phone.svg");
    }
  }
  &.icon-basket {
    &:before {
      background-image: url("../image/svg/basket.svg");
    }
  }
  &.icon-google {
    &:before {
      background-image: url("../image/svg/google.svg");
    }
  }
  &.icon-star {
    &:before {
      background-image: url("../image/svg/star.svg");
    }
  }
  &.icon-heart {
    &:before {
      background-image: url("../image/svg/heart-green.svg");
    }
  }
  &.icon-burger {
    &:before {
      background-image: url("../image/svg/burger.svg");
    }
  }
  &.icon-lite-arrow-green {
    &:before {
      background-image: url('../image/svg/lite-arrow-green.svg');
    }
  }
  &.icon-lite-arrow-white {
    &:before {
      background-image: url('../image/svg/lite-arrow-white.svg');
    }
  }

  &.revers-icon:before {
    transform: rotate(180deg);
  }

  .count {
    top: -0.5rem;
    right: -0.5rem;
    z-index: 1;
    &[count="0"] {
      top: 0.3rem;
      right: 0.3rem;
    }
  }
}



.count {
  border-radius: 50%;
  background-color: var(--blueb);
  position: absolute;
  &[count] {
    width: 2.4rem;
    height: 2.4rem;
    border: 0.3rem solid #fff;
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
  &[count="0"] {
    font-size: 0;
    width: 0.85rem;
    height: 0.85rem;
    border: 0rem solid #fff;
  }
}

.link-google {
  text-decoration: none;
  color: var(--yellow);
  height: 5rem;
  border-radius: 0.4rem;
  border: 1px solid var(--lgray);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  @include max-width(xl) {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  span:nth-child(2) {
    padding-left: 0.4rem;
    padding-right: 0.2rem;
  }
}

.link-icon-text {
  align-items: center;
  text-decoration: none;
  color: var(--blue);
}

