@use "../mixins" as *;

.stars-ok:after {
  background-image: url('../image/svg/stars-ok.svg');
}
.stars-not:after {
  background-image: url('../image/svg/stars-not.svg');
}

.review-product-title {
  margin-top: auto;
  margin-bottom: 1rem;
  a {
    color: var(--colors);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    @include max-width(sm) {
      font-style: 1.6rem;
    }
  }
}

.wrap-stars {
  overflow: hidden;
  height: 3.6rem;
  height: 2.6rem;
  margin-bottom: 1rem;
  .star-rating {
    margin-top: 0;
  }
  &:after {
    width: 9.4rem !important;
    height: 1.7rem !important;
    background-image: url(../img/svg/stars-not.svg);
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    display: block;
  }
}

.review-rating, .star-rating {
  min-width: 9.4rem !important;
  background-size: 9.4rem 1.7rem;
  height: 1.7rem !important;
  margin-bottom: 1rem;
  position: relative;
  margin-top: 1rem;
  &:after {
    width: 9.4rem !important;
    height: 1.7rem !important;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    content: '';
  }
  .stars-ok, .rating {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    &:after {
      width: 9.4rem !important;
      height: 1.7rem !important;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
    }
    &[step="1"] { width: 20%; }
    &[step="2"] { width: 40%; }
    &[step="3"] { width: 60%; }
    &[step="4"] { width: 80%; }
    &[step="5"] { width: 100%; }
  }
}

.woocommerce-product-rating {
  display: flex;
  align-items: center;
  .star-rating {
    margin-bottom: 0;
  }
  .woocommerce-review-link {
    font-size: 1.4rem !important;
    margin-left: 1rem;
  }
  & + :after {
    display: none;
  }
}

.star-rating {
  margin-bottom: 1rem;
  font-size: 0;
  background-repeat: no-repeat;
  background-image: url(../image/svg/stars-not.svg);
  span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url(../image/svg/stars-ok.svg);
  }
}