@use "../mixins" as *;

.main {
  //min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
  & > * {
    z-index: 1;
    position: relative;
  }
  &.page-single {
    @include max-width(sm) {
      .main-content {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(44rem + 8.2rem);
      background-color: var(--lgreen);
      z-index: -1;
    }
    .post-title {
      margin-bottom: 4rem;
      margin-top: 1.6rem;
      @include max-width(sm) {
        margin-bottom: 2.4rem;
      }
    }
    .wrap-start-single {
      .btn {
        background-color: #fff;
        &:hover, &:focus {
          background-color: var(--colors);
          color: #fff;
        }
      }
    }

    .date {
      color: var(--body);
      font-size: 1.3rem;
    }

    .meta {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
      @include max-width(sm) {
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
      }
    }

    .tags {
      padding-left: 2.4rem;
      a {
        margin-right: 1.2rem;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
      }
    }

  }
  &.page-category {
    padding-top: 0;
    .category-starter {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background-color: var(--lgreen);
      border-radius: 0 0 2.4rem 2.4rem;
      @include max-width(sm) {
        padding-top: 1.6rem;
        padding-bottom: 3.2rem;
        .post {
          margin-bottom: 0;
        }
      }
    }
    .post-title {
      margin-bottom: 4.5rem;
    }
  }
}

.main-content {
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 9rem;
  @include max-width(sm) {
    padding-bottom: 6rem;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.category-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  ::marker {
    font-size: 0;
  }
  a {
    text-decoration: none;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
  }
}

.a2a_kit {
  .a2a_svg {
    width: 4rem !important;
    height: 4rem !important;
    border-radius: 50% !important;
    overflow: hidden;
    padding: 0.6rem !important;
  }
  a {
    //margin-top: 0 !important;
    //margin-bottom: 0 !important;
  }
}