@use '../mixins' as *;
.menu {
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
  ::marker {
    font-size: 0;
  }
  &.menu-social {
    display: flex;
    align-items: center;
    li {
      margin-right: 1.4rem;
      margin-bottom: 1rem;
      @include max-width(sm) {
        margin-right: 0.8rem;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      color: #fff;
      font-size: 1.4rem;
    }
  }

  &.menu-3 {
    display: flex;
    align-items: center;
    a {
      opacity: 0.4;
      font-size: 1.4rem;
      text-decoration: underline;
      &:hover , &[aria-current="page"] {
        opacity: 1;
      }
    }
    li {
      margin-right: 3.2rem;
      &:last-child {
        margin-right: 2.4rem;
      }
    }
  }

  &.menu-2 {
    a {
      opacity: 0.4;
      font-size: 1.4rem;
      font-weight: 500;
      &:hover , &[aria-current="page"] {
        opacity: 1;
      }
    }
    li {
      margin-bottom: 1.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.menu-1 {
    a {
      color: var(--blue);
    }
    .sub-menu {
      display: none;
    }
    li {
      margin-right: 2.4rem;
    }
    & > .menu-item-has-children > a {
      position: relative;
      &:after {
        position: relative;
        content: "";
        display: inline-block;
        background-image: url("../image/svg/lite-arrow.svg");
        width: 0.8rem;
        height: 0.5rem;
        margin: auto;
        margin-left: 0.6rem;
      }
    }
    & > .menu-item-has-children {
      margin-right: 1.6rem;
      & > a {
        border-radius: 3.8rem;
        padding: 1.2rem 1.6rem;
        line-height: 1;
        background: var(--bg1);
      }
    }
  }
}

.menu-title {
  color: #fff;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  @include min-width(md) {
    & + .menu-social {
      margin-top: -1.4rem;
    }
  }
  @include max-width(md) {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
  }
}