@use '../mixins' as *;

.wrap-header {
  min-height: 8.2rem;
  position: relative;
  header {
    background-color: #fff;
    border-bottom: 1px solid var(--lgray);
    min-height: 8.2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    a:not(.d-none) {
      display: flex;
    }
    .wrap-logo {
      @include min-width(xxl) {
        width: 20rem;
      }
      @include max-width(md) {
        height: 4rem;
      }
    }
    &.scroll {
      position: fixed;
    }
  }
  .link-icon-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include max-width(xl) {
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }
}

.wrap-header-icons {
  & > * {
    margin-left: 1.2rem;
    @include max-width(xl) {
      margin-left: .6rem;
    }
  }
  & > *:first-child {
    margin-left: 0;
  }
}

#wpadminbar {
  position: absolute !important;
  top: 0 !important;
}
