@use '../mixins' as *;



.explore {
  width: 100%;

  .wrapper {
    margin-bottom: 3.2rem;
  }

  .title {
    color: var(--dark);
    margin-top: 2.2rem;
  }

  &__title-mob {
    display: none;
  }

  svg {
    width: 2rem;
    height: 2rem;
    fill: rgba(0,0,0,0) !important;
    color: rgba(0,0,0,0) !important;
  }
  .swiper-button-prev {
    svg {
      transform: rotate(180deg);
    }
  }
}




.swiper-look {
  position: relative !important;
  padding: 3.2rem;
  color: #fff;
  padding: 0;
  max-width: 1300px;
  overflow: hidden;


  .swiper-slide {
    display: flex;
    padding: 2px;
    border: 2px solid var(--lgray);
    border-radius: 16px;
    flex-direction: column;
  }

  img {
    width: 100%;
    border-radius: 1.6rem 1.6rem 0 0;
    height: 102px;
  }

  .swiper-name{
    color: var(--dark);
    text-align: center;
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 2.2rem;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--ngreen);
    display: flex;
  }

  .swiper-button-next {}

  .swiper-button-prev {
    left: unset !important;
    top: 2.2rem;
    right: 60px;

    .look-svg {
      transform: rotate(180deg);
    }
  }

  .swiper-navigation-icon {
    width: 20px;
    height: 20px;
  }


  .look-svg {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: var(--white);
  }

  .swiper-button-disabled {
    background: var(--ngreen);

    .look-svg {
      stroke: var(--ltgreen);
    }
  }

  .swiper-pagination {
    display: none;
  }

  @media(max-width:998px) {
    & {
      .explore__desktop {
        display: none;
      }

      .explore__title-mob {
        display: block;
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }

      .swiper-pagination {
        display: block;
      }

    }
  }

  @media(max-width:668px) {
    & {
      overflow: unset;

      .swiper-slide {
        display: flex;
        width: 136px !important;
        height: 144px !important;
      }

      .wrapper {
        margin-bottom: 2.4rem ;
      }
    }

  }

}