@use "../mixins" as *;

.related-articles {
  //background-color: #71A66C33;

  padding-top: 7rem;
  padding-bottom: 6rem;
  border-radius: 4rem 4rem 0 0;
  z-index: 2 !important;
  @include max-width(sm) {
    padding-top: 3.2rem;
    padding-bottom: 3rem;
  }
  .wrap-title {
    margin-bottom: 3.2rem;
    @include max-width(sm) {
      text-align: center;
      .title {
        margin-bottom: 1.4rem;
      }
    }
  }
  &.green-style {
    margin-bottom: -3rem;
    background-color: var(--gopreenb);
    &.btn {
      background-color: #fff;
    }
  }
}