@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url("../fonts/Gotham-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url("../fonts/Gotham-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url("../fonts/gotham_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}